/* Css files */
@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--white-color-2);
}

a {
    text-decoration: none;
}